Host github.com
 Hostname ssh.github.com
 Port 443

Host nuc
 Hostname 192.168.50.226
 User diphia
 Port 22

Host nas
 Hostname 192.168.50.20
 User diphia
 Port 22

Host vultr
 Hostname 149.28.183.214
 User root
 Port 22

Host bandwagon
 Hostname 67.230.174.156
 User root
 Port 29923

Host nas_frp
 Hostname 49.234.63.85
 User diphia
 Port 6000

Host nas_temp
 Hostname 192.168.3.3
 User diphia
 Port 22

Host virtualbox_ubuntu
 Hostname 192.168.50.195
 User diphia
 Port 22

Host tencent
 Hostname 49.234.63.85
 User ubuntu
 port 22

Host kali
 Hostname 127.0.0.1
 User root
 port 2222

Host arch
 Hostname 127.0.0.1
 User diphia
 port 2200

Host chnmobile
 Hostname 20.26.17.182
 User firefart
 port 2222
