snippet head "comment at the head of a python file" b
#!/usr/bin/python3
# `!v expand('%')`
# diphia@`date +"%Y"`
# This script is used to ..
endsnippet

snippet for "typical for block" b
for i in range(1,100):
	xxx
endsnippet

snippet try "typical try block" b
try:
	xxx
except:
	pass
endsnippet
