global !p 
from datetime import date,timedelta
def datetime_process(offset):
	today = date.today()
	target = today + timedelta(days = offset)
	return target
endglobal

snippet d "insert current datetime" i
`!p snip.rv = datetime_process(0)`
endsnippet

snippet "d(\d+)" "insert tomorrow" r
`!p snip.rv = datetime_process(int(match.group(1)))`
endsnippet

snippet "d-(\d+)" "insert tomorrow" r
`!p snip.rv = datetime_process((-1)*int(match.group(1)))`
endsnippet
